
html, #root, .appContainer, .homeContainer {
  height: 100%;
  font-family: 'Taviraj', sans-serif;
}

body {

}

.black{
  color: black;
}

.tempMargin{
     margin-left: 47%;
}

.signout{
font-size: 1.1em;
color: #737474;
text-align: center;
text-transform: uppercase;
display: block;
padding: 1em;
-o-transition: .2s;
transition: .2s;
text-decoration: none;
float: none;
line-height: 50px;
}

.signout:hover{
  color: #fff;
  background: #787c7d
}

/*
h1,h2,h3 {
  text-align: center;
  color:white;
}
*/


form {
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px dotted black;
  margin-left: 0.5em;
  font-size: 1em;
  outline: none;
}

.wrapper {
     border-radius: 5px;
  max-width: 90%;
  margin: 0 auto;
}

.wrappermain {
   max-width: 88%;
   padding-top: 20px;
   padding-bottom: 20px;
   margin: 10px auto;
   margin-bottom: 50px;
   box-shadow: 0 0 5px #03100b;
   border-radius: 5px;
}

.svg-container{
  position: relative !important;
  width: 700-px !important;
  height: 450px !important;
}



.forcastitle{
  display: block;
    background: grey;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.temp-wrapper {
  text-align: center;
  position: relative;
}

.temp {
  font-size: 40px;
}

.temp-symbol {
  position: absolute;
  top: 8px;
  margin-left: 4px;
}

.temp-date {
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}
.temp-date2 {
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.temp-date3 {
  position: absolute;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}
.temp-date4 {
  position: absolute;
  bottom: -4em;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.5);
}


.butt {
	font-size: .825em;
	text-decoration: none;
	font-weight: 700;
	padding: .35em 1em;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
  border-radius: 20px;
  margin: 15px;
	color: rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
	background-color: #fff;
}

a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

a:hover, a:active, a:focus{
  color: white;
  text-decoration: none;
  opacity: 1;
}

.active {
  color: white;
  background: yellow;
  text-decoration: none;
  opacity: 1;
}


#wrapper {
  background-color: #687932;
  /*box-shadow: 1px 5px 25px 3px #0b2c3c;*/
  border-radius: 10px;
  margin: 100px auto;
  max-width: 100%;
  padding: 0px;
  color: white;
}

#current-weather{
  padding: 15px;
}

#mainTemperature{
     color: white;
  display: inline-block;
  margin-left: 5%;
  margin-right: auto;
  font-size: 4.5em;
  line-height: 2.7;
}

#tempDescription {
     color: white;
  font-size: 18px;
    margin-top: -40px;
    text-align: center;
}

.day-weather-box {
  border: 1px solid #89908a;
  background-color: #4e630c;
}

.day-weather-box p{
  margin-bottom: 0;
}

.change1{
  padding: 0px;
margin-left: -15px;
margin-right: -15px;

}

.change2{
  padding: 0;
    margin: 0;

}

.side-weather-info {
  font-size: 22px;
  padding: 0px 36px;
  margin: -20px;
}

.day-weather-inner-box {
  display: inline-flex;
  margin: 14px auto;
  padding: 0px 5px;
}

.forecast-main {
  padding: 0px 0px 0px 30px;
}

.forecast-icon {
  font-size: 25px;
  margin-left: 5px;
}

.modal-body p{
  color: #333;
}

.center_one{
     margin: -50px auto;
}

.center_two{
  font-size: 85px;
}

.center_three{
  font-size: 1.5rem;
}

.change3{
  color:white;
      margin: 5px auto;
}

.change4{
  margin-right: 17%;
top: 60px;
}

.left_one{
  color:white;
  text-align: right;
  left:70%;
  top:-110px;
}

.forcast_one{
}

#cityName,
#cityCode{
  margin:5px;
  font-size: 25px;
}

#localDate,
#localTime{
  margin:2px;
  padding:2px;
  font-size: 13px;
}

#forecast-day-1-name,
#forecast-day-2-name,
#forecast-day-3-name,
#forecast-day-4-name
{
  color:white;
  margin-top: 0px;
    margin-left: -8px;
    font-weight: bold;
}

#forecast-day-1-main,
#forecast-day-2-main,
#forecast-day-3-main,
#forecast-day-4-main{
  font-size: 16px;
  padding: 16px;
  margin-top: 8%;
}

.forecast-min-low{
  margin-top: -2%;
  margin-left: 10%;
}


#forecast-day-1-icon,
#forecast-day-2-icon,
#forecast-day-3-icon,
#forecast-day-4-icon
{
  line-height: 1 !important;
font-size: 22pt;
margin-left: 30%;
}

#main-icon{
     color:white;
  margin-right: 6%;
margin-left: -7%;
line-height: 4;
font-size: 40pt;
}



/*=======================================*/

ul {
  list-style-type: none;
  width: 100%;
  padding-left: 22%;
  padding-right: 10%;
}

a {
  text-decoration: none;
  color: #3b80d1;
  float: none;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* =================================
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 95%;
  max-width: 90%;
  padding-top: 0;
  padding-bottom: 2em;
  margin: 40px auto 2em;
  background: white;
  border-radius: .5em;
  border-color: grey;
  overflow: hidden;
  box-shadow: 0 0 30px black;
}
header {
  background: #edeff0;
  margin-bottom: 2em;
}
.main-content {
  height: 650px;
  overflow: scroll;
}

/* MAIN NAV -------- */

.main-nav a {
  font-size: 1.1em;
  color: #151501;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}
.main-nav a:hover,
.main-nav .active
 {
  color: #fff;
  background: #4e630c;
}


/* =================================
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) {
  body {
    margin: 0;
  }
  .home a {
    border-color: transparent;
  }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
}
@media (min-width: 769px) {
  body {
   margin: 0;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  }
  /* MAIN NAV -------- */

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }

}
