.maincont {
     box-sizing: border-box;
     width: 88%;
     margin: 50px auto 0 auto;
     text-align: center;
     border-radius: 5px;
     -webkit-box-shadow: 0 0 5px #0b2c3c;
     box-shadow: 0 0 5px #0b2c3c;
     padding-bottom: 50px;
     margin-bottom: 100px;
}

.secondcont {
     box-sizing: border-box;
     width: 86%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2%;
     text-align: center;
     border-radius: 3px;
     -webkit-box-shadow: 0 0 5px #252525;
     box-shadow: 0 0 5px #252525;
}

p {
     padding-left: 20px;
     padding-right: 20px;
}

.bluebold {
     color: #0b2c3c;
     font-weight: bolder;
     width: 29%;
     padding: 12px;
     margin-left: auto;
     margin-right: auto;
     background: #9db74c;
}

.checkbox[type=checkbox] {
     display: inline !important;
}

.align {
     margin-right: 45px;
}

.smartTime[type=text] {
     width: 5%;
     text-align: center;
}

.header {
     background: #444;
     padding: 7px;
     border-radius: 5px 5px 0 0;
}

.header2 {
     background: #687932;
     padding: .0157px;
     border-radius: 3px 3px 0 0;
}
h3{
     color: white;
}

.header h1 {
     font-size: 25px;
     margin: 0;
     color: white;
     font-family:Taviraj,sans-serif;
}

.header h2 {
     font-size: 24px;
     margin: 0;
     color: white;
     font-weight: lighter;
     font-family:Taviraj,sans-serif;
}

input[type=checkbox] {
     display: none;
}

input.zone[type=checkbox] {
     display: inline-grid;
}

h1 {
     position: relative;
     margin-top: 50px;
     margin-bottom: 50px;
     text-align: center;
}

#day {
     position: relative;
     margin-top: 50px;
     top: -23px;
     text-align: center;
}

.checked {
     background: #687932 !important;
}

.label {
     width: 13%;
     display: inline-block;
     background: grey;
     color: white;
     text-transform: uppercase;
     font-family: arial;
     font-size: 12pt;
     padding: 20px;
     padding-left: 10px;
     padding-right: 10px;
     border-right: 1px solid rgba(255, 255, 255, 0.42);
     cursor: pointer;
     -webkit-transition: opacity 100ms;
     -o-transition: opacity 100ms;
     transition: opacity 100ms;
}

.labelIcon {
     width: 13%;
     display: inline-block;
     color: #687932;
     text-transform: uppercase;
     font-family: arial;
     font-size: 22pt;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 12px;
     border-right: 1px solid rgba(255, 255, 255, 0.42);
}

.label:hover {
     opacity: 0.8;
     transition: opacity 100ms;
}

.label.one {
     border-radius: 5px 0 0 5px;
}

.label.seven {
     border-radius: 0 5px 5px 0;
     border: none;
}


/* phones */
@media only screen and (max-width: 650px) {
     .maincont {
    background: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 99%;
    margin: 50px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #0b2c3c;
    box-shadow: 0 0 5px #0b2c3c;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.labelIcon {
    margin-left: 37px;
    position: relative;
    width: 14%;
    display: block;
    color: #687932;
    text-transform: uppercase;
    font-size: 15pt !important;
    padding: 12px;
}

.label {
    width: 49%;
    display: block;
    background: grey;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    font-size: 11pt;
    padding: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(43, 45, 35);
    cursor: pointer;
    -webkit-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
    position: relative;
    bottom: 327px;
    left: 89px;
}

#day {
    height: auto;
    position: relative;
    margin-top: 20%;
    margin-bottom: 79%;
    top: -23px;
    text-align: center;
}

p{
     margin-top: -10px !important;
     padding-left: 20px;
     padding-right: 20px;
}

.smartTime[type=text] {
    width: 30%;
    text-align: center;
}

}


/*phones landscape mode*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {



     .label {
         width: 13%;
         display: inline-block;
         background: grey;
         color: white;
         text-transform: uppercase;
         /* font-family: arial; */
         font-size: 5.4pt ;
         padding: 11px;
         padding-left: 10px;
         padding-right: 10px;
         border-right: 1px solid rgba(255, 255, 255, 0.42);
         cursor: pointer;
         -webkit-transition: opacity 100ms;
         -o-transition: opacity 100ms;
         transition: opacity 100ms;
     }

     .main-content {
         margin-top: -27px;
         height: 650px;
         overflow: scroll;
     }

     .header2 {
         background: #687932;
         padding: .0156px;
         border-radius: 3px 3px 0 0;
     }

     .secondcont {
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         width: 86%;
         margin-left: auto;
         margin-right: auto;
         margin-top: -2%;
         text-align: center;
         border-radius: 3px;
         -webkit-box-shadow: 0 0 5px #252525;
         box-shadow: 0 0 5px #252525;
         min-height: 100px;

     }

     #day {
         position: relative;
         margin-top: 30px;
         top: -10px;
         text-align: center;
     }

      p{
       padding-left: 20px;
     padding-right: 20px;
     /* padding-top: 0; */
     margin-top: -25px;
     }

     .smartTime[type=text] {
         width: 33%;
         text-align: center;
     }

}
