#zoneform {
     display: inline;
}

button {
     margin: 3px;
     cursor: pointer;
     background: white;
}

.to-do-app {
     box-sizing: border-box;
     width: 88%;
     margin: 50px auto 0 auto;
     text-align: center;
     border-radius: 5px;
     box-shadow: 0 0 5px #03100b;
}

.header {
     background: #444;
     padding: 7px;
     border-radius: 3px 3px 0 0;
}

.header h1 {
     font-size: 24px;
     margin: 0;
     color: white;
     font-weight: lighter;
}

.create-new {
     border-top: 1px solid #777;
     width: 100%;
}

.create-new input {
     box-sizing: border-box;
     width: 75%;
     padding: 10px;
     font-size: 18px;
     border: none;
     text-align: left;
}

.create-new button {
     width: 23%;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding: 10px;
     font-size: 18px;
     margin-right: -1% !important;
     margin: 0;
     border: none;
     background: none;
}

.create-new button:hover {
     color:#175817;
     font-weight: bolder;
}

.items-list {
     background: #687932;
     border-radius: 3px;
}

.to-do-item {
     padding: 10px 0 10px 0;
     margin: 1px 0 1px 0;
     border-top: 1px solid #5e6d2f;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 18px;
     color: white;
     font-weight: lighter;
}

.name {
     margin-left: 10px;
}

.name input {
     width: 350px;
     color: #333;
     padding: 5px;
     border: none;
     border-radius: 1px;
}

.actions {
     margin-right: 10px;
}

.actions button {
     padding: 7px;
     border-radius: 2px;
     border: none;
     background: #444;
     color: white;
     font-weight: lighter;
}

/* phones */
@media only screen and (max-width: 650px) {

     body{
         background-repeat:  no-repeat;
         background-size:  cover;
         background-color: white;
         height: 100%;
     }

.create-new input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65%;
    padding: 10px;
    font-size: 12px;
    border: none;
}

.create-new button {
    width: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    margin-right: -2% !important;
    margin: 0;
    border: none;
}

.header h1 {
    font-size: 18px !important;
    margin: 0;
    color: white;
    font-weight: lighter;
}

.actions button {
    padding: 7px;
    border-radius: 2px;
    border: none;
    background: #444;
    color: white;
    font-weight: lighter;
    width: 50px;
}
.items-list {
    background: #809440;
    border-radius: 3px;
}

.to-do-item {
    margin: 1px 0 1px 0;
    border-top: 1px solid #5e6d2f;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
}

.name input {
    width: 100px;
    color: #333;
    padding: 5px;
    border: none;
    border-radius: 1px;
}


}

/*phones landscape mode*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
     body{
          background: none;
     }

     .header {
    background: #444;
    padding: 0px;
    border-radius: 5px 5px 0 0;
}

.header h1 {
    font-size: 20px !important;
    margin: 0;
    color: white;
    font-weight: lighter;
}

     input {
         border: none;
         border-bottom: 1px dotted black;
         margin-left: 0 !important;
         font-size: 1em;
         outline: none;
     }

     .create-new {
    border-top: 1px solid #777;
    width: 100%;
    background: white;
}

     .create-new input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 81.5%;
    padding: 10px;
    padding-right: 1px;
    font-size: 18px;
    border: none;
    text-align: left;
}

.create-new button {
    width: 17.4%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    margin-right: -1% !important;
    margin: 0;
    border: none;
}

.to-do-item {
    margin: 1px 0 1px 0;
    border-top: 1px solid #5e6d2f;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: lighter;
}


}

/* ipad */
@media only screen
       and (min-device-width: 768px)
       and (max-device-width: 1024px)
       and (-webkit-min-device-pixel-ratio: 1) {}
